.view-home {
    .config-container {
        position: fixed;
        right:0;
        top:0;
        height: 100%;
        width: 434px;
        padding: 15px;
        outline: 1px dashed #777777;
    }
}
